.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


h1 {
  font-family: Brush Script MT;
  font-size: 50px;
  color: #8EAADB;
  margin-top: 20px;
}

.primaryBtn {
  padding: 10px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #b4c7e7;
  border-color: #b4c7e7;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-family: Brush Script MT;
  font-size:50px;
  color: #8EAADB;
  width: 70%;
  text-align: center;
}
.primaryBtn {
padding: 10px;
text-align: center;
margin: 4px 2px;
border-radius: 8px;
color: #ffffff;
background-color: #b4c7e7;
border-color: #b4c7e7;

}

.description-box {
  max-height: 300px; 
  overflow-y: auto; 
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 16px;
}

p {
  margin: 0;
}

.small {
  font-size: 0.875em;
  color: #6c757d;
  font-weight: 1000;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.custom-modal .modal-dialog {
  max-width: 50%; 
  width: 50%;
}

.form-group{
  margin:10px
}


.button-criar-review {
  background-color: #b4c7e7;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.button-criar-review:hover {
  background-color: #0056b3;
}

.button-criar-review:active {
  background-color: #004494;
}